ONEBUS_LOGIN_URL=https://1-bus.com/login?back_url=Lw%3D%3D&used_login_btn=Y
ONEBUS_JOB_LIST_URL=https://1-bus.com/job/?category=
ONEBUS_DEFAULT_CATEGORY=1Ps1h24za0
ONEBUS_USERNAME=
ONEBUS_PASSWORD=
APP_ROLE=web
WORKER_BASE_URL=
WORKER_SHARED_TOKEN=
HEADLESS=false
